.Sponsor {
    width: clamp(200px, 100%, 1199px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    margin-top: 128px;
    position: relative;
    flex-wrap: wrap;
    row-gap: 20px;
}

.SvgIcons {
    position: absolute;
    bottom: -20px;
    left: -164px;
}

@media screen and (max-width:1600px) {
    .SvgIcons {
        display: none;
    }
}