.TrevelPoins {
    width: 100%;
    display: flex;
    margin-top: 128px;
    justify-content: center;
    column-gap: 42px;
    position: relative;
    flex-wrap: wrap;
}

.TrevelIconsDIv {
    position: absolute;
    width: clamp(200px, 100%, 1005px);
    height: 550px;
    flex-shrink: 0;
    border-radius: 0px 500px 500px 0px;
    background: #FACD49;
    left: 0;
    top: 129px;
    z-index: -10;
}

.Left_T {
    width: clamp(200px, 100%, 696.684px);
    height: 696.684px;
    flex-shrink: 0;
    position: relative;
}

.Left_T img {
    width: clamp(200px, 100%, 696.684px);
    height: 696.684px;
    flex-shrink: 0;
}



.icons1Trevel {
    position: absolute;
    top: 20px;
    right: 109px;
    z-index: -5;
}

.icons2Trevel {
    position: absolute;
    top: 105px;
    left: 72px;
    z-index: -5;
}

.icons3Trevel {
    position: absolute;
    top: 200px;
    right: 14px;
    z-index: -5;
}

.icons4Trevel {
    position: absolute;
    top: 299px;
    right: 201px;
    z-index: -5;
}

.icons5Trevel {
    position: absolute;
    top: 459px;
    right: 125px;
    z-index: -5;
}

.Right_T {
    width: clamp(200px, 100%, 445px);
    min-height: 696.684px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.Right_T h3 {
    color: #F85E9F;
    font-family: Circular Std;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 27.6px */
    letter-spacing: 4.6px;
    text-transform: uppercase;
}

.Right_T h2 {
    color: #191825;
    font-family: Circular Std;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 52.8px */
}

.Right_T p {
    color: rgba(25, 24, 37, 0.50);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 28.8px */
}

.Count-T {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 32px;
    position: relative;
}

.CountT {
    display: flex;
    padding: 33px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 32px;
    border: 1px solid rgba(25, 24, 37, 0.10);
    background: #FFF;
}

.CountT h4 {
    color: #FF5722;
    font-family: Circular Std;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    display: flex;
    justify-content: center;
    column-gap: 4px;
    align-items: center;
    /* 42px */
}

.Count-T b {
    color: #FF5722;
    font-family: Circular Std;
    font-size: 35px;
}

.Count-T h5 {
    color: #191825;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 28.8px */
}

.DivRedusChek {
    display: inline-flex;
    padding: 32px;
    align-items: center;
    gap: 16px;
    border-radius: 100px;
    background: #FACD49;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.03), 0px 15px 34px 0px rgba(0, 0, 0, 0.03), 0px 62px 62px 0px rgba(0, 0, 0, 0.02), 0px 139px 83px 0px rgba(0, 0, 0, 0.01), 0px 246px 99px 0px rgba(0, 0, 0, 0.00), 0px 385px 108px 0px rgba(0, 0, 0, 0.00);
    position: absolute;
    top: -40px;
    right: -40px;
}
@media screen and (max-width:1288px) {
    .DivRedusChek{
        top: 100px;
        right: 10px;
    }
}
@media screen and (max-width:776px) {
    .TrevelIconsDIv {
        top: 20px;
        height: 300px;
    }

    .Left_T {
        height: 400px;
    }

    .Left_T img {
        width: 400px;
        height: 400px;
    }

    .icons2Trevel {
        top: 20px;
        left: 20px;
    }

    .icons4Trevel {
        top: 100px;
        right: 40px;
    }

    .icons5Trevel {
        top: 200px;
        right: 30px;
    }
}

@media screen and (max-width:660px) {
    .Left_T img {
        width: 400px;
        height: 400px;
        position: absolute;
    }
}

@media screen and (max-width:430px) {
    .Left_T img {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width:320px) {
    .Left_T img {
        width: 250px;
        height: 250px;
    }
}